/* normalize css to sane defaults across all browsers */
@import url("../css/normalize.css");

/* add styles */
body {
  padding: 0.5em 1em;
}
.container {
  font-family: monospace;
  white-space: pre;
  background-color: #f0f0f0;
  padding: 10px;
}
.code {
  width: 100%;
}
